/* Default styles */
body {
    margin: 0px;
    background-color: #f7f8fd;
}

/* Blocks */
.header {
    width: 100%;
    background-color: #fff;
    padding: 35px 0;
    position: fixed;
    z-index: 100000;
}

.header__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header__item {
    padding: 0 30px;
}

.header__logo {
    color: #804be1;
    font-family: monospace;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
}

@media (max-width: 600px) {
    .header__logo {
        font-size: 30px;
    }
}

.nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
}

.nav__list li {
    list-style: none;
}

.nav__item {
    color: #a0a6b0;
    text-decoration: none;
    margin-right: 100px;
    position: relative;
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

.nav__item i {
    right: -27px;
    top: 2px;
    position: absolute;
    border: solid #dce2ea;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
}

.nav__item:hover {
    color: #9f77e8;
}

@media (max-width: 1200px) {
    .nav__item {
        margin-right: 50px;
    }
}

.down {
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.header__enter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .header__enter {
        display: none;
    }
}

.login {
    color: #804be1;
    font-size: 22px;
    font-weight: 400;
    font-family: sans-serif;
    text-decoration: none;
}

.button {
    background-color: #804be1;
    font-size: 22px;
    font-weight: 400;
    font-family: sans-serif;
    padding: 20px 40px;
    border: none;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.button:hover {
    cursor: pointer;
}

@media (max-width: 1200px) {
    .button {
        padding: 18px 30px;
    }
}

.button__href {
    color: white;
    text-decoration: none;
}

@media (max-width: 1024px) {
    .div {
        display: none;
    }
}

.burger {
    cursor: pointer;
    display: none;
    margin-right: 20px;
}

@media (max-width: 1024px) {
    .burger {
        display: inline-block;
    }
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #c7d2dd;
    margin: 6px 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    -ms-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    -ms-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.intro {
    padding-top: 200px;
    text-align: center;
}

@media (max-width: 500px) {
    .intro {
        padding-top: 150px;
    }
}

.intro__title {
    color: #595959;
    font-size: 65px;
    font-family: sans-serif;
    font-weight: 600;
}

@media (max-width: 1024px) {
    .intro__title {
        font-size: 40px;
    }
}

.intro__subtitle {
    color: #c62bc6;
    font-size: 60px;
    font-weight: 600;
    font-family: sans-serif;
}

@media (max-width: 1024px) {
    .intro__subtitle {
        font-size: 35px;
    }
}

.intro__banner {
    margin-top: 200px;
    position: relative;
}

@media (max-width: 500px) {
    .intro__banner {
        margin-top: 150px;
    }
}

.banner__title {
    color: #646d7e;
    font-size: 20px;
    font-weight: 400;
    font-family: sans-serif;
    z-index: 2;
    position: relative;
}

@media (max-width: 470px) {
    .banner__title {
        font-size: 15px;
    }
}

.banner__underbutton {
    color: #646d7e;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    font-family: sans-serif;
    z-index: 2;
    position: relative;
}

.banner__icons {
    background: url(../img/banner.png) center no-repeat;
    margin-left: 200px;
    background-size: contain;
    width: 80%;
    height: 150px;
    z-index: 3;
    position: relative;
}

@media (max-width: 1400px) {
    .banner__icons {
        margin-left: 150px;
    }
}

@media (max-width: 1024px) {
    .banner__icons {
        margin-left: 110px;
    }
}

@media (max-width: 675px) {
    .banner__icons {
        background: url(../img/banner2.png) center no-repeat;
        margin-left: 80px;
        background-size: contain;
    }
}

@media (max-width: 450px) {
    .banner__icons {
        margin-left: 50px;
    }
}

.banner__button {
    background-color: #48bb78;
    font-size: 20px;
    line-height: 0;
    padding: 10px 40px;
    border: none;
    border-radius: 60px;
    position: relative;
    z-index: 2;
}

.banner__button:hover {
    cursor: pointer;
}

.white {
    color: white;
    text-decoration: none;
}

.absolute {
    position: absolute;
    bottom: -300px;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}

@media (max-width: 1200px) {
    .absolute {
        bottom: -200px;
    }
}

@media (max-width: 1000px) {
    .absolute {
        display: none;
    }
}

.advertising {
    margin-top: 500px;
    margin-bottom: 50px;
}

@media (max-width: 1200px) {
    .advertising {
        margin-top: 300px;
    }
}

@media (max-width: 1000px) {
    .advertising {
        margin-top: 100px;
    }
}

.advertising__header {
    text-align: center;
    margin-bottom: 100px;
}

.advert__title {
    color: #595959;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 400;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    display: block;
    padding: 0 20px;
    margin-bottom: 20px;
}

.advert__subtitle {
    color: #595959;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 400;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    display: block;
    padding: 0 20px;
}

.advert__subtitle span {
    color: #2d3748;
    font-weight: 600;
}

.advertising__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (max-width: 750px) {
    .advertising__body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.body__info {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    margin-left: 30px;
    padding-right: 20px;
}

@media (max-width: 550px) {
    .body__info {
        margin-bottom: 20px;
    }
}

.info__title {
    color: #2d3748;
    font-size: 40px;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.info__content {
    color: #77859b;
    font-size: 25px;
    font-weight: 400;
    font-family: sans-serif;
}

.info__back {
    color: #000;
    font-size: 22px;
    font-weight: 400;
    font-family: sans-serif;
}

.body__icons {
    width: 500px;
    height: 500px;
}

@media (max-width: 750px) {
    .body__icons {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
}

@media (max-width: 510px) {
    .body__icons {
        width: 450px;
        height: 450px;
    }
}

@media (max-width: 420px) {
    .body__icons {
        height: 300px;
        width: 300px;
    }
}

.icons__width {
    display: block;
    width: 100%;
    height: auto;
}

.skills__header {
    text-align: center;
    margin-bottom: 30px;
}

.info__title--next {
    margin-bottom: 15px;
}

.subtitle__skills {
    color: #2d3748;
    font-weight: 400;
    font-size: 18px;
}

.colums__rows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media (max-width: 1100px) {
    .colums__rows {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
}

.top__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 20px;
}

@media (max-width: 1100px) {
    .top__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0;
    }
}

.bottom__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

@media (max-width: 1100px) {
    .bottom__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.row__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 200px;
    height: auto;
    background-color: #e7eeff;
    border-radius: 15px;
    padding: 20px 40px;
}

@media (max-width: 1200px) {
    .row__item {
        padding: 20px 30px;
    }
}

@media (max-width: 1100px) {
    .row__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background: none;
    }
}

@media (max-width: 530px) {
    .row__item {
        width: auto;
    }
}

@media (max-width: 357px) {
    .row__item {
        padding: 20px 20px;
    }
}

.row__img {
    height: 25px;
    width: 25px;
    padding-right: 30px;
}

@media (max-width: 1100px) {
    .row__img {
        background-color: #e7eeff;
        padding: 10px;
        border-radius: 20px;
        margin-bottom: 20px;
    }
}

.img__ico {
    width: 100%;
    height: auto;
    display: block;
}

.row__info {
    color: #545659;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400;
}

.blue {
    font-size: 15px;
    font-weight: 400;
    font-family: sans-serif;
    margin-top: 10px;
}

.blue__hover {
    color: #40a3ff;
    text-decoration: none;
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

.blue__hover:hover {
    color: #492490;
}

.photo {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 70px;
}

.but__middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.result {
    margin-bottom: 50px;
}

.key__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 50px;
}

@media (max-width: 1024px) {
    .key__columns {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.key__title {
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    color: #1f1f6f;
    margin-bottom: 30px;
    text-align: center;
}

.key__columnrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.key__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.key__items:last-child {
    margin-left: 200px;
}

@media (max-width: 1500px) {
    .key__items:last-child {
        margin-left: 100px;
    }
}

@media (max-width: 1300px) {
    .key__items:last-child {
        margin-left: 20px;
    }
}

@media (max-width: 1024px) {
    .key__items {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.key__items--right:last-child {
    margin: 0;
}

.key__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f9f9ff;
    padding: 20px 40px;
    border: 1px solid #e7e7ef;
    border-radius: 10px;
}

@media (max-width: 1170px) {
    .key__item {
        padding: 20px 20px;
    }
}

@media (max-width: 1024px) {
    .key__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background: none;
        border: none;
        text-align: center;
    }
}

@media (max-width: 350px) {
    .key__item {
        padding: 20px 0;
    }
}

.key__ico {
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

@media (max-width: 1024px) {
    .key__ico {
        margin-right: 0;
        margin-bottom: 20px;
        background: #f9f9ff;
        padding: 20px;
    }
}

.ico__key {
    display: block;
    height: auto;
    width: 100%;
}

.key__info {
    color: #575759;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
}

.benefit {
    border-bottom: 1px solid #c1c9d0;
    padding-bottom: 50px;
    margin-bottom: 20px;
}

.footer {
    background-color: #35344b;
    width: 100%;
    height: auto;
    padding: 30px 0;
    margin-top: 50px;
}

.footer ul {
    margin: 0;
    padding: 0;
}

.footer li {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 15px;
}

.footer__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

@media (max-width: 1024px) {
    .footer__items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 50px;
    }
}

@media (max-width: 350px) {
    .footer__items {
        padding-left: 20px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.footer__item:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .footer__item nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 20px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.logo__title {
    font-size: 25px;
    font-weight: 400;
    font-family: sans-serif;
}

.violet {
    color: #6f7389;
    text-decoration: none;
    margin-left: 20px;
}

.footer__title {
    color: #98a5b7;
    font-size: 20px;
    font-weight: 400;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.footer__subtitle {
    color: white;
    font-weight: 600;
    font-size: 20px;
    font-family: sans-serif;
    margin-top: -10px;
    margin-bottom: 15px;
}

.list__items {
    color: whitesmoke;
    font-size: 18px;
    font-weight: 400;
    font-family: sans-serif;
    text-decoration: none;
    position: relative;
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

.list__items span {
    padding: 5px 10px;
    background-color: #6454cd;
    color: white;
    font-size: 10px;
    border-radius: 20px;
    position: absolute;
    right: -40px;
}

.list__items:hover {
    color: #4f3fc1;
}

.list__duo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.duo__img {
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

.list__ico {
    display: block;
    width: 100%;
    height: auto;
}

.footer__list div {
    margin-right: 10px;
}

.bottom {
    margin-bottom: 10px;
}

.page {
    position: absolute;
    background: url("../img/bakc1.png") left no-repeat;
    width: 50%;
    height: 100vh;
    background-size: cover;
    z-index: 100;
}

@media (max-width: 1500px) {
    .page {
        width: 60%;
    }
}

@media (max-width: 1050px) {
    .page {
        widows: 50%;
    }
}

@media (max-width: 1024px) {
    .page {
        background: url("../img/bakc1.png") top no-repeat;
        width: 100%;
        background-size: cover;
        height: 50vh;
    }
}

@media (max-width: 600px) {
    .page {
        display: none;
    }
}

.login__title {
    font-size: 50px;
    font-weight: 600;
    color: #13173c;
    font-family: sans-serif;
    line-height: 0.2;
}

.page__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 220px;
    padding-top: 0px;
}

@media (max-width: 1500px) {
    .page__column {
        padding-right: 110px;
    }
}

@media (max-width: 1380px) {
    .page__column {
        padding-right: 50px;
    }
}

@media (max-width: 1025px) {
    .page__column {
        padding-right: 20px;
    }
}

@media (max-width: 1024px) {
    .page__column {
        padding-top: 600px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-right: 0;
    }
}

@media (max-width: 600px) {
    .page__column {
        padding-top: 150px;
    }
}

.login {
    text-align: center;
}

.facebookbtn {
    background: #43548c;
    border: none;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 80px 15px 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
}

@media (max-width: 370px) {
    .facebookbtn {
        padding: 15px 50px 15px 15px;
    }
}

.icofLog {
    padding: 0;
    margin-right: 20px;
    height: 30px;
    width: 30px;
}

.ico {
    height: auto;
    width: 100%;
    display: block;
}

.login__text {
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
}

.or {
    margin-top: 20px;
    margin-bottom: 20px;
}

#login2 {
    height: 240px;
    width: 300px;
    z-index: 0;
}

#login2 fieldset {
    border: none;
}

@media (max-width: 430px) {
    #login2 {
        width: 280px;
    }
}

#inputs input {
    background: #f1f1f1 url(http://www.red-team-design.com/wp-content/uploads/2011/09/login-sprite.png) no-repeat;
    padding: 15px 15px 15px 30px;
    margin: 0 0 10px 0;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

@media (max-width: 435px) {
    #inputs input {
        width: 280px;
    }
}

@media (max-width: 330px) {
    #inputs input {
        width: 250px;
        margin-left: 10px;
    }
}

#username {
    background-position: 5px -2px !important;
}

#password {
    background-position: 5px -52px !important;
}

#inputs input:focus {
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/
#actions {
    margin: 25px 0 0 0;
}

.forms {
    margin-left: -30px;
}

.signup {
    font-size: 20px;
    font-weight: 400;
    font-family: sans-serif;
    background: #1890ff;
    border: none;
    margin-top: -30px;
    padding: 20px 133px;
    border-radius: 10px;
}

.signup:hover {
    cursor: pointer;
    background: #0076e4;
}

@media (max-width: 430px) {
    .signup {
        padding: 20px 100px;
    }
}

.under__login {
    margin-top: 20px;
    font-size: 18px;
    font-family: sans-serif;
}

.under__login a {
    color: #1890ff;
    text-decoration: none;
}

.page2 {
    background: url("../img/fullstack.png") left no-repeat;
    position: absolute;
    width: 50%;
    height: 100vh;
    background-size: cover;
    z-index: 100;
}

@media (max-width: 1500px) {
    .page2 {
        width: 60%;
    }
}

@media (max-width: 1050px) {
    .page2 {
        widows: 50%;
    }
}

@media (max-width: 1024px) {
    .page2 {
        display: none;
    }
}

.mid {
    text-align: center;
    padding-right: 200px;
    position: relative;
}

@media (max-width: 1900px) {
    .mid {
        padding-right: 100px;
    }
}

@media (max-width: 1700px) {
    .mid {
        padding-right: 50px;
    }
}

@media (max-width: 1500px) {
    .mid {
        padding-right: 10px;
    }
}

@media (max-width: 1324px) {
    .mid {
        padding-right: 50px;
    }
}

@media (max-width: 1200px) {
    .mid {
        padding-right: 10px;
    }
}

@media (max-width: 1024px) {
    .mid {
        padding-top: 400px;
    }
}

@media (max-width: 600px) {
    .mid {
        padding-top: 50px;
    }
}

@media (max-height: 700px) {
    .mid {
        padding-right: 50px;
    }
}

.right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@media (max-width: 1024px) {
    .right {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.circle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 20px;
}

@media (max-width: 1500px) {
    .circle {
        margin-left: 100px;
    }
}

@media (max-width: 1320px) {
    .circle {
        margin-left: 50px;
    }
}

@media (max-width: 1024px) {
    .circle {
        margin-left: 100px;
    }
}

@media (max-width: 600px) {
    .circle {
        margin-left: 50px;
    }
}

@media (max-width: 440px) {
    .circle {
        width: 200px;
        margin-left: 60px;
    }
}

@media (max-height: 730px) {
    .circle {
        margin-top: 20px;
        margin-left: 100px;
    }
}

@media (max-height: 700px) {
    .circle {
        margin-left: 90px;
    }
}

.hr {
    content: "";
    height: 2px;
    width: 300px;
    top: 50%;
    z-index: 0;
    position: absolute;
    background: #b6bdc6;
}

@media (max-width: 440px) {
    .hr {
        width: 200px;
    }
}

.circle__item {
    padding: 20px;
    background: #f7f8fd;
    border: 1px solid #bdc3ce;
    border-radius: 50%;
    z-index: 1;
}

.circle__item:last-child {
    margin-right: 0;
}

@media (max-height: 730px) {
    .circle__item {
        padding: 15px;
    }
}

.fusll__title {
    font-size: 40px;
    color: #2d2629;
    font-weight: 600;
    font-family: sans-serif;
}

@media (max-width: 1500px) {
    .fusll__title {
        font-size: 30px;
    }
}

@media (max-width: 1320px) {
    .fusll__title {
        font-size: 30px;
    }
}

@media (max-width: 440px) {
    .fusll__title {
        font-size: 25px;
    }
}

@media (max-width: 330px) {
    .fusll__title {
        padding-left: 20px;
    }
}

.full__subtitle {
    font-size: 20px;
    color: #2d2629;
    font-weight: 600;
    font-family: sans-serif;
}

.full__subtitle a {
    color: #5593c7;
    text-decoration: none;
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

.full__subtitle a:hover {
    color: #3a7aaf;
}

@media (max-width: 1320px) {
    .full__subtitle {
        font-size: 15px;
    }
}

.contico {
    height: 600px;
    width: 600px;
    margin-top: 50px;
}

@media (max-width: 1500px) {
    .contico {
        height: 500px;
        width: 500px;
    }
}

@media (max-width: 1320px) {
    .contico {
        height: 400px;
        width: 400px;
    }
}

@media (max-width: 1090px) {
    .contico {
        height: 380px;
        width: 380px;
    }
}

@media (max-width: 1024px) {
    .contico {
        height: 500px;
        width: 500px;
    }
}

@media (max-width: 600px) {
    .contico {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 400px) {
    .contico {
        height: 300px;
        width: 300px;
    }
}

@media (max-height: 840px) {
    .contico {
        width: 500px;
        height: 500px;
    }
}

@media (max-height: 700px) {
    .contico {
        height: 450px;
        width: 450px;
    }
}

@media (max-height: 650px) {
    .contico {
        height: 400px;
        width: 400px;
    }
}

.btn {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

@media (max-width: 1024px) {
    .btn {
        position: inherit;
    }
}

.button__continue {
    background: #5279d9;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

.button__continue:hover {
    background: #2d5bcb;
}

.continue {
    color: white;
    text-decoration: none;
}

/* Vendor libs */
.container {
    max-width: 2000px;
}

.wrap {
    margin: 0 auto;
    background: #f7f8fd;
}
